@charset "UTF-8";

$theme_primary: #1329ec;
$theme_secondary: #fdecec;
$theme_backgroung: #fdecec;

$theme_icon1: #f70c0c;
$theme_icon2: #28a110;
$theme_icon3: #3a5cf1;
$theme_icon4: orange;
$theme_icon5: #b33939;
$theme_icon6: #b33939;
/*
For nav
*/


/*
For home
*/
$home-banner1-title: white;
$home-banner1-intro: white;
$home-banner2-title: white;

/*
For md content
*/
$md-header: $theme_primary;
$md-primary: $theme_primary;
$md-texte: black;




